@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.wrapper {
    padding-top: 60px;
    overflow: hidden;
}

.container {
    width: 100vw;
}

.wrapperPricing {
    padding-top: 20px;
    width: 10vw;
    padding-bottom: 20px;
    background-color: white;
    border: 2px solid #111111;
    margin-right: 20px;
    font-family: "Oswald", sans-serif;
}

.wrappercenter {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.priceBig {
    font-size: 48px;
    padding-bottom: 10px;
    font-weight: 700;
}

.priceName {
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 24px;

}

.priceDays {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    padding-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #272727;
}

.collectiontitle {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.collectionlist {
    background-color: #212121;
    font-size: 14px;
    color: white;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.collectionlist th, .collectionlist td {
    text-align: center;
    padding: 10px 20px;
    border: 2px solid black;
}

.collectionlist th {
    color: #e4381C;
    text-transform: uppercase;
}

.alert {
    background-color: red;
    color: white;
    font-size: 16px;
}

/* Navbar section */
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.nav div.logo {
    width: auto;
    height: auto;
    display: inline-block;
    float: left;
    padding-left: 5rem;
}

.nav div.logoright {
    width: auto;
    height: auto;
    display: inline-block;
    float: right;
    padding-right: 5rem;
}

.nav div.main_list {
    height: 85px;
    display: inline-block;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: white;
    line-height: 65px;
    font-size: 20px;
    font-weight: 700;
}

.nav div.main_list ul li a:hover {
    color: #e4381c;
    padding-bottom: 5px;
    border-bottom: 1px solid #e4381c;
}

.nav div.main_list ul li .currentpage {
    color: #e4381c;
    padding-bottom: 3px;
    border-bottom: 1px solid #e4381c;
}

.currentSession {
    color: #e4381c;
}

.checkmark {
    background-color: red;
}

.checkmark:checked {
    background-color: green;
}

/*Login and Register Page*/
.credentialsWrapper {
    font-family: "Oswald", sans-serif;
    margin-top: 200px;
    color: #19191a;
    display: block;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.formError{
    color: #a72c18;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.formErrorModal{
    color: #a72c18;
    font-size: 12px;
}

.pageHeader {
    font-size: 24px;
    letter-spacing: 1px;
}

.pageSubHeader {
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
}

.formWrapper {
    font-size: 16px;
    display: block;
}

.inputWrapper {
    display: block;
    padding-bottom: 12px;
}

.labelHeader {
    display: block;
    padding-bottom: 5px;
}

.inputField {
    padding: 5px 0px 5px 5px;
    display: block;
    width: 100%;
}

.loginBtn{
    color: #fff;
    background-color: #e16521;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all .1s ease-in-out;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.loginBtn:hover{
    cursor: pointer;
    border-color: #212122;
    color: white;
    text-decoration: none;
}

.forgotPasswordLink {
    float: left;
}

.registerLink {
    float: right;
}

.registerLink, .forgotPasswordLink{
    text-decoration: none;
    display: block;
}

.registerLink:hover, .forgotPasswordLink:hover{
    text-decoration: underline;
}

.logoContact{
    height: 16px;
    padding-right: 10px;
    margin-top: 5px;
}

.priceBtn{
    color: #fff;
    background-color: #e16521;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    border-radius: 2px;
    border: 0px;
    transition: all .1s ease-in-out;
    padding: 15px 35px;
    margin-top: 25px;
    text-decoration: none;
    font-size: 16px;
}

.priceBtn:hover{
    cursor: pointer;
    background-color: #e4381C;
    font-weight: bold;
}

.hide {
    display: none;
    font-size: 9px;
}

.tip:hover + .hide {
    display: block;
    color: #e4381C;
    padding-top: 5px;
}

/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/mainback.jpg");
    background-position: center top;
    background-size: cover;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: #8d8989;
}

.adminTables {
    padding-top: 90px;
    padding-bottom: 100px;
}

.navTrigger {
    display: none;
}

.nav {
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.bigtitle {
    font-size: 24px;
    line-height: 0px;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.undertitle {
    font-size: 16px;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding-top: 24px;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media (min-width: 1070px) {
    .container {
        max-width: 100vw;
    }
}

@media (max-width: 1200px) {

    .nav div.main_list ul li {
        padding-left: 2rem;
        padding-right: 2rem;
    }


}

@media screen and (max-width: 1070px) {
    .navTrigger {
        display: block;
    }

    .nav div.logoright {
        display: none;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;

    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: center;
        padding-right: 20px;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}


/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #111;
}

.myH2 {
    text-align: center;
    font-size: 4rem;
}

.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

@media all and (max-width: 700px) {
    .myP {
        padding: 2%;
    }
}

/*---------------------------------------
    SCHEDULE
 -----------------------------------------*/
.timetable-controls ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
    position: relative;
    padding-top: 20px;
}


.schedule-full {
    padding-top: 150px;
    text-align: center;
}


.schedule {
}

.schedule-table {
    display: table;
    border: 0;
    text-align: center;
    background-color: #111111;
}

.schedule-table strong,
.schedule-table span {
    font-weight: 500;
    display: block;
    text-align: center;
}

.schedule-table strong {
    color: #e4381c;
    font-size: 18px;
}

.schedule-table span {
    color: white;
    font-size: 16px;
}

.schedule-table span,
.schedule-table small {
    text-transform: uppercase;
}

.schedule-table small {
    position: relative;
}

.table .thead-light th,
.schedule-table tr td:first-child {
    background: #212121;
    border: 1px solid #212122;
    color: white;
    font-size: 16px;
}

.schedule-table .thead-light th {
    border-bottom: 0;
    text-transform: uppercase;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #212122;
    background-color: #212121;
}

.table-bordered .colorfull:hover {
    background: linear-gradient(to right, #e16521, #e4381C);
    cursor: pointer;
}

.colorfull:hover strong {
    color: white;
}

.table-bordered td {
    padding-bottom: 10px;
}

.table td, .table th {
    padding: 10px;
    border: 1px solid #212122;
}

.table td {
    height: 4vw;
}

.table th {
    height: 2vw;
}

.timetd {
    width: 4vw;
}

.sessiontd {
    width: 8vw;
}

/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check {
    background-image: url(http://csscheckbox.com/checkboxes/lite-green-check.png);
}

.lite-red-check {
    background-image: url(http://csscheckbox.com/checkboxes/lite-red-check.png);
}

input[type=checkbox].css-checkbox.med + label.css-label.med {
    padding-left: 22px;
    height: 17px;
    display: inline-block;
    line-height: 17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}

input[type=checkbox].css-checkbox.sme + label.css-label.sme {
    padding-left: 22px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme {

    background-position: 0 -16px;
}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left: 22px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg {

    background-position: 0 -20px;
}


/*EVENT MODAL*/
/**********************************/
/* The Modal (background) */
.customModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    flex-direction: column;
}

/* Modal Content */
.modal-content5 {
    background-color: #fefefe;
    margin: auto;
    width: 600px;
    height: 500px;
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* The Close Button */
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.eventModalSidebar {
    width: 49%;
    background-size: cover;
}

.eventModalMain {
    width: 49%;
    padding: 30px;
    font-size: 12px;
}

.eventModalMain p {
    line-height: 2;
}

.eventModalMain h2 {
    padding-top: 0px;
    padding-bottom: 5px;
}
