<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>FitFocus | Book Session</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="home">
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <ul class="navlinks">
                    <li><a class="currentpage" th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/prices}">Prices</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}">Login</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/register}">Register</a></li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''COACH'', ''ADMIN'')')}"><a
                            th:href="@{/sessions}">Sessions</a></li>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/admin}">Admin</a>
                    <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a th:href="@{/bookSession}">My Sessions</a>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" id="navProfile"><a th:href="@{/profile}">Profile</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Logout</a></li>
                    </li>
                </ul>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        <div class="logoright">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
    </div>
</nav>

<div class="container" style="justify-content: center; display: flex">
    <div class="adminTables">
        <div class="wrapper">
            <div class="formError" th:if="${message != null}">
                <p>[[${message}]]</p>
            </div>
            <div>
                <p id="errorMsg" class="formError" style="font-size: 14px"></p>
            </div>
            <div style="display: table-header-group">
                <h2 class="collectiontitle" style="float: left">Book A Session</h2>
            </div>

            <form th:action="@{/bookSessionX}" onsubmit="return validateBookSession()" method="post">
                <select class="form-control" id="selectSession" name="session" style="font-size: 14px">
                    <option>-SELECT-</option>
                    <option th:each="Session : ${sessionsFuture}"
                            th:value="${Session.id}"
                            th:text="${Session.date} + ' - '+${Session.sport} + ' - ' + ${Session.startingHour}">
                    </option>
                </select>
                <br>
                <button class="btn btn-primary btn-lg btn-block" style="background-color: #e16521; border: #e16521"
                        type="submit">Book Now
                </button>
            </form>

            <br>
            <br>
            <div style="display: table-header-group">
                <h2 class="collectiontitle" style="float: left">Your Booked Sessions</h2>
            </div>

            <table class="collectionlist">
                <thead>
                <tr>
                    <th>Sport</th>
                    <th>Coach</th>
                    <th>Date</th>
                    <th>Starting Time</th>
                    <th>End Time</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Session:${sessions}">
                    <td th:text="${Session.sport}"></td>
                    <td th:text="${Session.coach}"></td>
                    <td th:text="${Session.date}"></td>
                    <td th:text="${Session.startingHour}"></td>
                    <td th:text="${Session.endHour}"></td>
                    <td><a th:href="@{/sessions/findById/(id=${Session.id})}" class="btn btn-danger" id="deleteSession">X</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--delete modal-->
            <div class="modal fade" id="deleteModalSesh" tabindex="-1" aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
                <form th:action="@{/bookSession/delete}" onsubmit="return validateDeleteSession()" method="put">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 14px">Are you sure you want to delete this session?</p>
                                <input type="text" class="form-control" id="idDelete" name="id" hidden>

                                <div class="form-group">
                                    <label for="sportDelete" class="col-form-label">Sport</label>
                                    <select disabled="true" class="form-control" id="sportDelete" name="sportid">
                                        <option th:each="Sport : ${sports}"
                                                th:value="${Sport.id}"
                                                th:text="${Sport.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dateDelete" class="col-form-label">Date</label>
                                    <input type="date" class="form-control" id="dateDelete" name="date" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="startingHourDelete" class="col-form-label">Starting Time</label>
                                    <input type="time" class="form-control" id="startingHourDelete" name="startingHour"
                                           readonly>
                                </div>
                                <div id='errorMsg2' class="formError"></div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="js/bookSession.js"></script>
<script src="js/navbar.js"></script>
<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

    function validateBookSession() {
        if (document.getElementById('selectSession').value.trim() == "-SELECT-") {
            document.getElementById('errorMsg').innerHTML = "Please select a session";
            document.getElementById('selectSession').focus();
            return false;
        }
    }

    function validateDeleteSession() {
        var date1 = new Date(Date.now());
        var date2 = new Date(document.getElementById('dateDelete').value.trim());
        var h = document.getElementById('startingHourDelete').value.trim().substr(0, 2)
        var m = document.getElementById('startingHourDelete').value.trim().substr(3, 5)
        date2.setHours(h);
        date2.setMinutes(m);
        var date11 = new Date(2020, 0, date1.getDay(), date1.getHours(), date1.getMinutes());
        var date22 = new Date(2020, 0, date2.getDay(), date2.getHours() - 5, date2.getMinutes());
        if (date22 < date11) {
                document.getElementById('errorMsg2').innerHTML = "You cannot cancel a session less than 5h before the start";
                return false;
            }
        }

</script>

</body>
</html>