<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>FitFocus | Sessions View</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="home">
<nav class="nav">
    <div class="container">
        <div class="logo">
            <img src="img/logo.jpg" style="height: 65px; width: auto">
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/prices}">Prices</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}">Login</a></li>
                <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/register}">Register</a></li>
                <li th:if="${#authorization.expression('hasAnyAuthority(''COACH'', ''ADMIN'')')}"><a
                         th:href="@{/sessions}">Sessions</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/admin}">Admin</a>
                <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/profile}">Profile</a></li>
                <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Logout</a></li>
                </li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        <div class="logoright">
            <img src="img/logo.jpg" style="height: 65px; width: auto">
        </div>
    </div>
</nav>

<div class="container" style="justify-content: center; display: flex">
    <div class="adminTables">
        <div class="wrapper">
            <div style="display: table-header-group">
                <h2 class="collectiontitle" style="float: left">Book A Session</h2>
            </div>

            <form th:action="@{/bookSession}" method="post">
<!--            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">-->
<!--                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
<!--            </div>-->
                <div class="form-group">
                    <select class="form-control" id="selectSession" name="session">
                        <option>-SELECT-</option>
                        <option th:each="Session : ${sessionsFuture}"
                                th:value="${Session.id}"
                                th:text="${Session.date} + ' - '+${Session.sport} + ' - ' + ${Session.startingHour}">
                        </option>
                    </select>
                </div>
            <button class="btn btn-primary btn-lg btn-block" style="background-color: #e16521; border: #e16521" type="submit">Book Now</button>
            </form>

            <br>
            <br>
            <div style="display: table-header-group">
                <h2 class="collectiontitle" style="float: left">Your Booked Sessions</h2>
            </div>

            <table class="collectionlist">
                <thead>
                <tr>
                    <th>Sport</th>
                    <th>Coach</th>
                    <th>Date</th>
                    <th>Starting Time</th>
                    <th>End Time</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Session:${sessions}">
                    <td th:text="${Session.sport}"></td>
                    <td th:text="${Session.coach}"></td>
                    <td th:text="${Session.date}"></td>
                    <td th:text="${Session.startingHour}"></td>
                    <td th:text="${Session.endHour}"></td>
                    <td><a th:href="@{/sessions/(id=${Session.id})}" class="btn btn-danger" id="deleteSession">X</a>
<!--                        needs changing + validation on delete-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="js/session.js"></script>
<script src="js/navbar.js"></script>
<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

    function validateFormAddSession() {

        if (document.getElementById('informationAdd').value.trim() == "") {
            document.getElementById('errorDiv1').innerHTML = "Please give a short explanation about this session";
            document.getElementById('informationAdd').focus();
            return false;
        }

        if (document.getElementById('sportidAdd').value.trim() == "-SELECT-") {
            document.getElementById('errorDiv1').innerHTML = "Please select the sport";
            document.getElementById('sportidAdd').focus();
            return false;
        }

        if (document.getElementById('dateAdd').value.trim() == "") {
            document.getElementById('errorDiv1').innerHTML = "Please enter a date";
            document.getElementById('dateAdd').focus();
            return false;
        }

        if (document.getElementById('startingHourAdd').value.trim() == "") {
            document.getElementById('errorDiv1').innerHTML = "Please enter a starting hour";
            document.getElementById('startingHourAdd').focus();
            return false;
        }

        if (document.getElementById('endHourAdd').value.trim() == "") {
            document.getElementById('errorDiv1').innerHTML = "Please enter an end hour";
            document.getElementById('endHourAdd').focus();
            return false;
        }

        if (!(document.getElementById('endHourAdd').value > document.getElementById('startingHourAdd').value )){
            document.getElementById('errorDiv1').innerHTML = "The end cannot be before the start";
            return false;
        }

        if (document.getElementById('maxParticipantsAdd').value.trim() == "") {
            document.getElementById('errorDiv1').innerHTML = "Please enter the maximum number of participants";
            document.getElementById('maxParticipantsAdd').focus();
            return false;
        }

    }

    function validateFormEditSession() {


        if (document.getElementById('informationEdit').value.trim() == "") {
            document.getElementById('errorDiv2').innerHTML = "Please give a short explanation about this session";
            document.getElementById('informationEdit').focus();
            return false;
        }

        if (document.getElementById('sportEdit').value.trim() == "-SELECT-") {
            document.getElementById('errorDiv2').innerHTML = "Please select the sport";
            document.getElementById('sportEdit').focus();
            return false;
        }

        if (document.getElementById('dateEdit').value.trim() == "") {
            document.getElementById('errorDiv2').innerHTML = "Please enter a date";
            document.getElementById('dateEdit').focus();
            return false;
        }

        if (document.getElementById('startingHourEdit').value.trim() == "") {
            document.getElementById('errorDiv2').innerHTML = "Please enter a starting hour";
            document.getElementById('startingHourEdit').focus();
            return false;
        }

        if (document.getElementById('endHourEdit').value.trim() == "") {
            document.getElementById('errorDiv2').innerHTML = "Please enter an end hour";
            document.getElementById('endHourEdit').focus();
            return false;
        }

        if (!(document.getElementById('endHourEdit').value > document.getElementById('startingHourEdit').value )){
            document.getElementById('errorDiv2').innerHTML = "The end cannot be before the start";
            return false;
        }

        if (document.getElementById('maxParticipantsEdit').value.trim() == "") {
            document.getElementById('errorDiv2').innerHTML = "Please enter the maximum number of participants";
            document.getElementById('maxParticipantsEdit').focus();
            return false;
        }

    }

</script>

</body>
</html>