<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>FitFocus | Subscriptions</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="home">
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <ul class="navlinks">
                    <li><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/prices}">Prices</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}">Login</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/register}">Register</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''COACH'', ''ADMIN'')')}"><a
                            th:href="@{/sessions}">Sessions</a></li>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/admin}">Admin</a>
                    <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a
                            th:href="@{/bookSession?id=0}">My Sessions</a>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" id="navProfile"><a
                            th:href="@{/profile}">Profile</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Logout</a>
                    </li>
                    </li>
                </ul>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        <div class="logoright">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
    </div>
</nav>

<div class="container" style="justify-content: center; display: flex">
    <div class="adminTables">
        <div class="wrapper">
            <div class="formError" th:if="${message != null}">
                <p>[[${message}]]</p>
            </div>
            <div id="errorMsg" class="formError"></div>
            <div style="display: table-header-group">
                <h2 class="collectiontitle" style="float: left">Buy A New Subscription</h2>
            </div>

            <form th:action="@{/buySubscription}" onsubmit="return validateBuy()" method="post">
                <select class="form-control" id="selectSubscription" name="subscriptionType" style="font-size: 14px">
                    <option>-SELECT-</option>
                    <option th:each="subscriptionType : ${subTypes}"
                            th:value="${subscriptionType.id}"
                            th:text="${subscriptionType.name} + ' - '+${subscriptionType.numberOfSessions} + ' session - '
                            + ${subscriptionType.daysValid} + ' days valid - ' + ${subscriptionType.price} + '€'">
                    </option>
                </select>
                <br>
                <button class="btn btn-primary btn-lg btn-block" style="background-color: #e16521; border: #e16521"
                        type="submit">Buy
                </button>
            </form>
            <br>
            <br>
            <br>
            <br>

            <div style="display: table-header-group">
                <h2 class="collectiontitle" style="float: left">Your Current Subscription</h2>
            </div>

            <table class="collectionlist">
                <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Remaining Sessions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.startDate}"></td>
                    <td th:text="${user.endDate}"></td>
                    <td th:text="${user.remainingSessions}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="js/navbar.js"></script>
<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

    function validateBuy() {
        if (document.getElementById('selectSubscription').value.trim() == "-SELECT-") {
            document.getElementById('errorMsg').innerHTML = "Please select a subscription";
            document.getElementById('selectSubscription').focus();
            return false;
        }
    }

    if (document.getElementById('subName').value.trim() == "") {
        document.getElementById('subName').innerHTML = "Trial";
    }

</script>

</body>
</html>