<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>FitFocus | Contact</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="home">
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <ul class="navlinks">
                    <li><a class="currentpage" th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/prices}">Prices</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}">Login</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/register}">Register</a></li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''COACH'', ''ADMIN'')')}"><a
                            th:href="@{/sessions}">Sessions</a></li>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/admin}">Admin</a>
                    <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a th:href="@{/bookSession}">My Sessions</a>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" id="navProfile"><a th:href="@{/profile}">Profile</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Logout</a></li>
                    </li>
                </ul>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        <div class="logoright">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
    </div>
</nav>

<div style="display: flex">
    <div class="credentialsWrapper">
        <h2 class="pageHeader">Get in touch</h2>
        <h2 class="pageSubHeader">We will try to answer you as quickly as possible</h2>
        <div class="formWrapper">
            <form th:action="@{/contact}" onsubmit="return validateForm()" method="post">
                <div>
                    <p id="errorMsg" class="formError"></p>
                </div>
                <div class="formError" th:if="${message != null}">
                    <p>[[${message}]]</p>
                </div>
                <div class="inputWrapper">
                    <label for="email" class="labelHeader">Your email-address:</label>
                    <input type="email" placeholder="Email" name="email" id="email" class="inputField">
                </div>
                <div class="inputWrapper">
                    <label for="message" class="labelHeader">Your message:</label>
                    <textarea name="message" cols="40" rows="5" placeholder="Message" id="message"
                              class="inputField"></textarea> <br>
                </div>
                <button type="submit" class="loginBtn" style="margin-top: -10px">Send</button>
            </form>
        </div>
    </div>
    <div class="credentialsWrapper">
        <div class="pageSubHeader" style="margin-top: 50px">
            <img src="img/home_logo.png" class="logoContact">
            Nerviërsstraat 34, 1730 Asse
        </div>
        <div class="pageSubHeader">
            <img src="img/tel_logo.png" class="logoContact">
            0483/09.14.88
        </div>
        <div class="pageSubHeader">
            <img src="img/mail_logo.png"  class="logoContact">
            fitfocusteam@gmail.com</div>
    </div>
</div>

<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

    function validateForm() {
        if (document.getElementById('email').value.trim() == "") {
            document.getElementById('errorMsg').innerHTML = "Please enter a valid email";
            document.getElementById('email').focus();
            return false;
        }
        if (document.getElementById('message').value.trim() == "") {
            document.getElementById('errorMsg').innerHTML = "Please enter a message";
            document.getElementById('message').focus();
            return false;
        }
    }
</script>
</body>
</html>