<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>FitFocus | Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="home">
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <ul class="navlinks">
                    <li><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/prices}">Prices</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}" class="currentpage">Login</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/register}">Register</a></li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''COACH'', ''ADMIN'')')}"><a
                            th:href="@{/sessions}">Sessions</a></li>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/admin}">Admin</a>
                    <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a th:href="@{/bookSession?id=0}">My Sessions</a>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" id="navProfile"><a th:href="@{/profile}">Profile</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Logout</a></li>
                    </li>
                </ul>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        <div class="logoright">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
    </div>
</nav>

<div class="credentialsWrapper">
    <h2 class="pageHeader">Log In to FitFocus</h2>
    <div class="formWrapper">
        <form th:action="@{/login}" method="post">
            <div class="inputWrapper">
                <label for="username" class="labelHeader">Username</label>
                <input type="text" placeholder="username" name="username" id="username" class="inputField">
            </div>
            <div class="inputWrapper">
                <label for="password" class="labelHeader">Password</label>
                <input type="password" placeholder="password" name="password" id="password" class="inputField">
            </div>
            <div th:if="${param.error}">
                <p class="formError" id="errorMsg">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
            <div class="formError" style="width: auto" th:if="${message != null}">
                <p>[[${message}]]</p>
            </div>
            <div class="formError" style="width: auto" th:if="${message2 != null}">
                <p>[[${message2}]]</p>
            </div>
            <div th:if="${param.logout}">
                <p class="formError" id="errorMsg2">You have been logged out</p>
            </div>
            <a th:href="@{/secret}" class="forgotPasswordLink">Forgot your password?</a>
            <button type="submit" class="loginBtn">Login</button>
            <a th:href="@{/register}" class="registerLink">Not a member yet? <b>Register for free</b></a>

        </form>
    </div>
<!--info button-->
    <div class="formWrapper" style="margin-top: 150px">
        <a class="loginBtn" href="/info">Click here for app info</a>
    </div>
</div>


<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

</script>
</body>
</html>