<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>FitFocus | Register</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="home">
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <ul class="navlinks">
                    <li><a class="currentpage" th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/prices}">Prices</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}">Login</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/register}" class="currentpage">Register</a></li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''COACH'', ''ADMIN'')')}"><a
                            th:href="@{/sessions}">Sessions</a></li>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/admin}">Admin</a>
                    <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a th:href="@{/bookSession?id=0}">My Sessions</a>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" id="navProfile"><a th:href="@{/profile}">Profile</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Logout</a></li>
                    </li>
                </ul>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        <div class="logoright">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
    </div>
</nav>


<div class="credentialsWrapper">
    <h2 class="pageHeader">Register a new account</h2>
    <div class="formWrapper">
        <form th:action="@{/register}" th:object="${user}" method="post" onsubmit="return validateForm()">
            <div class="inputWrapper">
                <label for="username" class="labelHeader">Username</label>
                <input class="inputField" type="text" th:field="*{username}" placeholder="Username"
                       th:errorclass="is-invalid" id="username">
            </div>
            <div class="inputWrapper">
                <label for="email" class="labelHeader">Email</label>
                <input class="inputField" type="email" th:field="*{email}" placeholder="Email"
                       th:errorclass="is-invalid" id="email">
            </div>
            <div class="inputWrapper">
                <label for="password" class="labelHeader">Password</label>
                <input class="inputField" type="password" th:field="*{password}" placeholder="Password"
                th:errorclass="is-invalid" id="password">
            </div>
            <div class="inputWrapper">
                <label for="confirmPassword" class="labelHeader">Confirm Password</label>
                <input class="inputField" type="password" placeholder="Confirm Password" id="confirmPassword">
            </div>
            <div class="formError" th:if="${#fields.hasErrors('*')}">
                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            </div>
            <div class="formError" id="errorMsg"></div>
            <div class="formError" id="errorMsg2"></div>
            <button type="submit" class="loginBtn">Register</button>

        </form>
    </div>
</div>

<script src="js/register.js"></script>
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

</script>
</body>
</html>