<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>FitFocus | Sessions</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="home">
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <ul class="navlinks">
                    <li><a th:href="@{/index}">Home</a></li>
                    <li><a th:href="@{/prices}">Prices</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/login}">Login</a></li>
                    <li th:if="${#authorization.expression('isAnonymous()')}"><a th:href="@{/register}">Register</a></li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''COACH'', ''ADMIN'')')}"><a
                            th:href="@{/sessions}" class="currentpage">Sessions</a></li>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a th:href="@{/admin}">Admin</a>
                    <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a th:href="@{/bookSession?id=0}">My Sessions</a>
                    <li th:if="${#authorization.expression('isAuthenticated()')}" id="navProfile"><a th:href="@{/profile}">Profile</a></li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Logout</a></li>
                    </li>
                </ul>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        <div class="logoright">
            <a href="/index">
                <img src="img/logo.jpg" style="height: 65px; width: auto">
            </a>
        </div>
    </div>
</nav>

<div class="container" style="justify-content: center; display: flex">
    <div class="adminTables">

        <!--Session handler-->
        <div class="wrapper">

            <div style="display: table-header-group">
                <h2 class="collectiontitle" style="float: left">All Past Sessions</h2>
            <div id='errorDiv' class='formError' style="font-size: 16px; padding-bottom: 20px"></div>
            <form th:action="@{/sessions/past}" onsubmit="return searchForm()" method="get"
                  style="padding-top: 10px; display: flex; width: 500px; font-size: 12px">
                <label for="dateStartSearch" style="padding-right: 5px; margin-top: 6px; font-weight: bold">Start Date</label>
                <input id="dateStartSearch" type="date" style="margin-right: 10px" name="startDate">
                <label for="dateEndSearch" style="padding-right: 6px; margin-top: 6px; font-weight: bold">End Date</label>
                <input id="dateEndSearch" type="date" style="margin-right: 10px" name="endDate">
                <button type="submit">Search</button>
            </form>
            </div>


            <table class="collectionlist">
                <thead>
                <tr>
                    <th>Coach</th>
                    <th>Sport</th>
                    <th>Date</th>
                    <th>Starting Time</th>
                    <th>End Time</th>
                    <th>Participants</th>
                    <th>Woman Only</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Session:${sessions}">
                    <td th:text="${Session.coach}"></td>
                    <td th:text="${Session.sport}"></td>
                    <td th:text="${Session.date}"></td>
                    <td th:text="${Session.startingHour}"></td>
                    <td th:text="${Session.endHour}"></td>
                    <td th:text="${Session.participants.size()}"></td>
                    <td><input type="checkbox" th:checked="${Session.onlyFemales}" disabled="true" class="css-checkbox"
                               id="nlfmls"><label for="nlfmls" name="checkbox1_lbl"
                                                  class="css-label lite-red-check"></label></td>
                </tr>
                </tbody>
            </table>

            <div th:if="${totalPages > 1}" style="display: block; font-size: 14px;">
                <div class="row col-sm-10">
                    <div class="col-sm-3">
                        Total Sessions: [[${totalItems}]]
                    </div>
                    <div class="col-sm-3" style="display:block">
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}"
                               th:href="@{'/pageS/' + ${i} + ${startDate != null ? '?startDate=' + startDate + '&endDate=' + endDate : ''}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                        </span>
                    </div>
                    <div class="col-sm-1" style="display: block">
                        <a th:if="${currentPage > 1}"
                           th:href="@{'/pageS/' + ${currentPage -1} + ${startDate != null ? '?startDate=' + startDate + '&endDate=' + endDate : ''}}">Prev</a>
                        <span th:unless="${currentPage > 1}">Prev</span>
                    </div>
                    <div class="col-sm-1" style="display: block">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/pageS/' + ${currentPage +1} + ${startDate != null ? '?startDate=' + startDate + '&endDate=' + endDate : ''}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>
                </div>
            </div>

    </div>
</div>

<script src="js/navbar.js"></script>
<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

    function searchForm() {

        if (document.getElementById('dateStartSearch').value.trim() == "") {
            document.getElementById('errorDiv3').innerHTML = "Please pick a start date for your search";
            document.getElementById('dateStartSearch').focus();
            return false;
        }
        if (document.getElementById('dateEndSearch').value.trim() == "") {
            document.getElementById('errorDiv3').innerHTML = "Please pick an end date for your search";
            document.getElementById('dateEndSearch').focus();
            return false;
        }
    }

</script>

</body>
</html>